.DS_Store
CCFoundationDemo/CCFoundationDemo.xcodeproj/project.xcworkspace/xcuserdata/
CCFoundationDemo/CCFoundationDemo.xcodeproj/xcuserdata/
CCFoundationDemo/CCFoundationDemo.xcodeproj/project.xcworkspace/xcshareddata/CCFoundationDemo.xccheckout